@charset "UTF-8";

@font-face {
    font-family: nanumgodic;
    src: url(/font/NanumGothic.otf);
}

body {
    font-family: nanumgodic
}

* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* 불릿기호삭제 */
a {
    text-decoration: none;
    color: rgb(31, 31, 31);
}

li {
    list-style: none;
}

#wrap {
    width: 1080px;
    margin: 0 auto;
}


/* top_header */
.top_header {
    padding: 15px 30px;
    background-color: #086AD8;
    color: rgb(237, 237, 237);
    font-size: 14px;
}

.top_header ul li:first-child {}

.top_header ul li i {
    background: url(/ibz_img/location_on_FILL1_wght400_GRAD0_opsz48.svg) no-repeat left center/15px;
    padding-left: 23px;
}

.top_header ul li:first-child {
    border-right: 1px solid #fff;
}

.top_header ul li {
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}



.top_header ul a {
    background: url(/ibz_img/drafts_FILL1_wght400_GRAD0_opsz48-w.svg ) no-repeat left 5px center/15px;

    font-weight: 600;
    color: rgb(237, 237, 237);
    padding-left: 30px;
}

.top_header ul li:last-child {
    background: url(/ibz_img/schedule_FILL1_wght400_GRAD0_opsz48.svg) no-repeat left center/15px;
    float: right;
    padding: 0;
    padding-left: 25px;
}

header {}

#header {
    font-size: 13px;
}

#header h1 {
    float: left;
    padding: 20px 15px;
}

#header h1 a {}

#header h1 a img {
    width: 100%;
}

#header .nav {
    float: left;
    font-weight: 600;

}

#header .nav ul {}

#header .nav ul li {

    float: left;
    position: relative;
    text-align: center;
    width: 110px;
}

#header .nav ul li:first-child .topMenu {
    color: #086AD8;
}


#header .nav ul li .topMenu {
    padding: 40px 15px;
}

#header .nav ul li .topMenu:hover {
    color: #086AD8;
    transition: 0.3s;
}

#header .nav ul li .topMenu:nth-child(4) {
    width: 97px;
    padding-left: -10px;
}

#header .nav ul li a {
    display: block;
    transition: 0.3s;
    /* width: 250px; */
    padding: 15px;
}

#header .nav ul li a:hover {
    color: #086AD8;
    transition: 0.3s;
}


.submenu {
    z-index: 10;
    display: none;
    border: 1px solid transparent;
    position: absolute;
    left: 10px;
    line-height: 20px;
    width: 200px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);


}

.submenu li {
    border-bottom: solid 1px #f5f5f5;

}

.submenu li a {
    text-align: left;
    /* width: 100px; */
    /* display: block; */
    width: 200px;


}

/* .submenu li .arrow {
    font-family: 'FontAwesome';
    content: "\f105";
    float: right;
} */


.submenu li ul {
    /* display: none; */
    border: 1px solid transparent;
    left: 5px;
    line-height: 20px;
    width: 200px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);

    position: absolute;
    left: 201px;
    top: 0;

}

.submenu li ul li {
    /* float: left; */
    border-bottom: solid 1px #f5f5f5;
}

.submenu li ul li a {

    left: 0;
    width: 200px;
    z-index: 10;
}

/* // submenu */


/* right call */

#header .call {
    padding: 10px;
    float: right;
    right: 0;
    margin-top: 18px;
}

#header .call i img {
    border-right: 1px solid #e7e7e7;
    padding: 0 6px;
    margin: 0 10px;
}


/* #header .call .line{
    border: 1px solid #e7e7e7;
    margin: 0 10px;
} */

#header .call div {
    font-size: 15px;
    float: right;
    text-align: left;
}

#header .call div p {
    margin-bottom: 4px;
}

.mainbanner {
    position: relative;
    height: 600px;
    color: #fff;
    background-image: url(/ibz_img/architecture-1868667_1920-e1627551991724.jpg);
}

/* .dark::before{
    margin: 0 auto;
    position: absolute;
    content: "";
    width: 1080px;
    height: 600px;
    background: #000;
    opacity: 0.5;
    z-index: 2;
} */

.mainbanner .bannertext {
    font-size: 35px;
    position: absolute;
    bottom: 200px;
    padding-left: 30px;
    padding-right: 500px;
    font-weight: 500;
}

.mainbanner .bannertext h2 strong{
  
}


.mainbanner .bannertext p {
    margin-top: 10px;
    font-size: 25px;
}


/* logobar */

.logobar{
    width: 1080px;
margin: 20px auto;
}

.logobar ul li{
    float: left;
    width: 16%;
    margin-right: 5%;
}


.logobar ul li img{
    box-sizing: border-box;
    width: 100%;
}

.logobar ul li:last-child{
    margin-right: 0;
}



/* midText */


.midText{
    margin-top: 200px;
    text-align: center;
    font-size: 20px;
}

.midText h4{
    font-size: 23px;
    font-weight: bolder;
    color: #086AD8;
    margin-bottom: 10px;
}

.midText h2::after{
    background: #086AD8 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: 20px;
    position: absolute;
    width: 5px;
    box-sizing: border-box;
}